.cryptoCoin {
  overflow: hidden;
  text-align: center;
  border-radius: 7px;
  position: relative;
  width: 320px;
  margin: 2rem;
  /* border: 1px solid red; */
  padding-top: 40px;
  background-color: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.coinLogo {
  width: 8rem;
  margin-top: 1.2rem;
  height: 40px;
  width: 40px;
  clip-path: circle(60px at center);
  /* padding-top: 40px; */
}

.coinNameWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-weight: 700;
}

.coinName {
  font-weight: bold;
  font-size: 1.5rem;
}

.coinSymbol {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  padding-left: 8px;
}

.priceContainerUP {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  background-color: #127440;
}

.priceContainerDOWN {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  background-color: #c4142a;
}

svg {
  background-color: transparent;
}

.priceChange {
  background-color: transparent;
  padding-left: 10px;
  color: #fff;
  /* text-shadow: 0 0 14px black; */
}

.coinPrice {
  width: auto;
  background-color: transparent;
}

.coinMarketcap {
  width: auto;
  padding-top: 8px;
  background-color: transparent;
}

.coinVolume {
  width: auto;
  padding-top: 6px;
  padding-bottom: 8px;
  background-color: transparent;
  padding-bottom: 70px;
}
